*{    
    margin: 0;
    padding:0;
}

body{
    text-align: center;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}

input,button,img{
    border: none;
}

.active{
    color: #409EFF;
}
